li{
  display: inline;
  padding-right: 15px;
  /*display: none;*/
}

nav{
  text-align: right;
  float: right;
}

.button{}

.logo{
  clear: both;

}

#search{}

#sbuttons{
  display: inline-block;
}

#fbar{
  line-height: 40px;
}
.googGrey{
  background-color: #F2F2F2;
}

.left{
  float: left;
}

.right{
  float: right;
}
