li{
  display: inline;
  padding-right: 15px;
}

nav{
  text-align: right;
  float: right;
}

.button{}

.logo{
  clear: both;

}

#search{}

button{
  display: inline-block;
  border: 1px solid #dcdcdc;
  font-size: 11px;
}

#fbar{
  line-height: 40px;
}
.googGrey{
  background-color: #F2F2F2;
}

.left{
  float: left;
}

.right{
  float: right;
}
