li{
  display: inline;
}
#nav{
  display: none;
  padding-right:15px;
  text-align: right;
  left: 20px;
  height: 24px;
  width: 167px;
  margin-right: 0px;
}
.button{}
.logo{}
#search{}
#sbuttons{}

#footer{
  margin-bottom: 0px;
  background-color:#F2F2F2;
}
.left{}
.right{}
